@use "variables" as v;

#expand-content-area-btn {
	$spacing: 1.8em;

	display: flex;
	align-items: center;
	justify-content: center;

	position: fixed;
	top: calc($spacing + v.$navbar-height);
	left: calc($spacing + v.$sidebar-width);
	z-index: 50;

	width: 3em;
	height: 3em;
	border-radius: 8px;
	border: none;
	background: v.$btn-background;
	cursor: pointer;
	color: color-mix(in srgb, v.$text-colour 40%, transparent);

	transition: transform var(--vp-t-transform);

	&:hover {
		border: 2px solid var(--vp-c-accent-soft, #10b98124);
		background: v.$btn-hover-background;
		color: v.$text-colour;
	}

	@media screen and (min-width: v.$MQMobile) {
		[data-sidebar="no"] & {
			transform: translateX(calc(0px - v.$sidebar-width));
		}
	}

	@media screen and (max-width: v.$MQMobile) {
		display: none;
	}
}

main {
	transition:
		padding-inline-start var(--vp-t-transform),
		margin var(--vp-t-transform);

	[vp-content],
	footer {
		transition: max-width var(--vp-t-transform);
	}
}

@media screen and (min-width: v.$MQMobile) {
	[data-sidebar="no"] {
		aside {
			transform: translateX(-100%);
		}

		main {
			margin: auto;
			padding-inline-start: 0;
			width: fit-content;

			[vp-content] {
				max-width: 100%;
				width: fit-content;
			}

			footer {
				max-width: 100%;
			}
		}
	}
}
