@use "variables" as v;

.table-wrapper {
	display: block;
	overflow-block: clip;
	overflow-inline: auto;

	margin: 1rem 0;
	max-width: 100%;
	width: fit-content;

	scrollbar-width: thin;
	scroll-timeline-name: --scroll-inline;
	scroll-timeline-axis: inline;
	animation: toggle-border ease both;
	animation-timeline: --scroll-inline;
	border-inline: 3px dotted transparent;

	@keyframes toggle-border {
		0% {
			border-inline-start-color: transparent;
			border-inline-end-color: v.$table-border-colour;
		}
		2%,
		98% {
			border-inline-start-color: v.$table-border-colour;
			border-inline-end-color: v.$table-border-colour;
		}
		100% {
			border-inline-start-color: v.$table-border-colour;
			border-inline-end-color: transparent;
		}
	}

	> table {
		display: inline-table;
		word-break: keep-all;
		text-wrap: pretty;

		margin: 0;

		> thead {
			position: sticky;
			top: v.$navbar-height;
			z-index: 2;

			background: v.$background;
			box-shadow:
				inset 0 1px 0 0 v.$table-border-colour,
				inset 0 -1px 0 0 v.$table-border-colour;
		}

		th:first-child,
		td:first-child {
			min-width: 15ch;
		}
	}
}
