@use "variables" as v;

.table-wrapper {
	display: block;
	overflow-x: auto;
	overflow-y: clip;

	margin: 1rem 0;
	max-width: 100%;
	width: fit-content;

	scrollbar-width: thin;
	scroll-timeline-name: --scroll-inline;
	scroll-timeline-axis: inline;
	animation: toggle-border ease both;
	animation-timeline: --scroll-inline;
	border-inline: 3px dotted transparent;

	@keyframes toggle-border {
		0% {
			border-inline-start-color: transparent;
			border-inline-end-color: v.$table-border-colour;
		}
		2%,
		98% {
			border-inline-start-color: v.$table-border-colour;
			border-inline-end-color: v.$table-border-colour;
		}
		100% {
			border-inline-start-color: v.$table-border-colour;
			border-inline-end-color: transparent;
		}
	}

	> table {
		display: table;
		overflow: clip;
		word-break: keep-all;
		text-wrap: pretty;

		margin: 0;

		border-collapse: separate;
		border-spacing: 0;

		td {
			border-width: 0 0 1px 1px;
		}

		th:first-child,
		td:first-child {
			min-width: 15ch;
		}

		th:last-child,
		td:last-child {
			border-right-width: 1px;
		}

		> thead th {
			position: -webkit-sticky;
			position: sticky;
			top: v.$navbar-height;
			z-index: 2;

			background: v.$background;
			border-width: 1px 0 1px 1px;
		}
	}
}
