@use "@vuepress/theme-default/dist/client/styles/variables" as vp;

$MQNarrow: vp.$MQNarrow;
$MQMobile: vp.$MQMobile;

:root {
	$sidebar-width: var(--sidebar-width, 20rem);

	--vp-sidebar-width: #{$sidebar-width};

	@media screen and (max-width: $MQNarrow) {
		--vp-sidebar-width: var(--sidebar-width-mobile, calc(0.82 * $sidebar-width));
	}

	@media screen and (max-width: $MQMobile) {
		--vp-sidebar-width: 0;
	}
}

$navbar-height: var(--navbar-height, 3.6rem);
$sidebar-width: var(--vp-sidebar-width);
$contnet-width: var(--content-width, 740px);

$background: var(--vp-c-bg, #fff);

$btn-background: var(--vp-c-control, #8e96aa1a);
$btn-hover-background: var(--vp-c-control-hover, #8e96aa29);

$table-border-colour: var(--vp-c-border-hard, #d1d4d7);

$text-colour: var(--vp-c-text, #3c3c43);
